* text=auto
*.txt    text eol=lf             encoding=utf-8
*.meta   text eol=lf             encoding=utf-8
*.asset  text eol=lf             encoding=utf-8
*.prefab text eol=lf             encoding=utf-8
*.asmdef text eol=lf             encoding=utf-8
*.cginc  text eol=lf             encoding=utf-8
*.shader text eol=lf             encoding=utf-8
*.cs     text eol=lf diff=csharp encoding=utf-8
*.json   text eol=lf             encoding=utf-8
*.md     text eol=lf             encoding=utf-8
